/* selected folder background */

.ant-tree .ant-tree-node-selected {
  background-color: #029dfd !important;
  color: #ffffff !important;
  border-radius: 4px;
}

/* selected folder icon color */

.ant-tree .ant-tree-node-selected .anticon {
  color: #ffffff !important;
}

.file-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
  align-items: center;
}

.file-row:hover {
  background-color: #f7f7f7;
}