@media print {

  @page {
    size: A3 landscape;
    margin: 10mm;
  }

  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  .ant-table {
    font-size: 10px !important;
  }

  .ant-table-container,
  .ant-table-content,
  .ant-table-body,
  .ant-table-scroll {
    overflow: visible !important;
  }

  .ant-table table {
    width: 100% !important;
  }

}